.otp_sms
{
    letter-spacing: 10px;
}
.otp__change_number i {
    background: url('../../public/Icons/EditNumber.svg') center no-repeat;
    width: 30px;
}
.otp_section {
    display: flex;
    justify-content: space-between;
    margin: 0.4rem 0 0.7rem 0;
    font-family: IRANSans;
    color: var(--primary-color);
}
.otp__change_number {
    display: flex;
    cursor: pointer;
}
.resend_otp_sms 
{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-family: IRANSans;
    font-size: 14px;
    top: 0em;
    height: 100%;
    cursor: pointer;
    border: none;
    
}
.login__header {
    margin-bottom: 5.2rem;
}
.confirm_button
{
    width: 100%;
    padding: 6px 14px 6px 14px;
    border: 1px solid var(--login-confirm-btn-border);
    font-size: 0.9rem;
    font-family: IRANSans;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    height: 40px;
}
.input_error_occur
{
    border: 2px solid var(--login-err-message-color) !important;
}
.otp_input
{
    letter-spacing: 10px;
}
.otp_input::placeholder
{
    letter-spacing: 5px;
}
.input_box_active
{
    border: 2px solid #7ACCFF !important;
}
.otp_header_text::after 
{
    width: 50% !important;
}