* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root
{ 
  --primary-color : #5360ED;

  --login-input-text-color : #656565;
  --login-input-border-color : #7ACCFF;
  --login-input-bg-color : #FEFEFE;
  --login-input-placeholder-color : #A3A3A3;
  --form-body-header-color : #8F8F8F;
  --login-confirm-btn-border : #7C86FA;
  --login-err-message-color : #FF4D4F;


}
