@font-face {
  font-family: IRANSans;
  src: url('../public/Fonts/IRANSans\ Regular.woff');
}
@font-face {
  font-family: Gilory;
  src: url('../public/Fonts/Gilroy-Light.woff');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color : transparent;
  font-family: IRANSans;
}
html
{
  scroll-behavior: smooth;
}
body 
{
  background: var(--page-bg);
}
body::-webkit-scrollbar
{
  width: 0;
}
:root
{ 
  --primary-color : #5360ED;

  /* Folders Page */
  --Neutral-Gray9 : #525252;
  --Neutral-Gray6 : #8F8F8F;
  --Neutral-Gray10 : #3D3D3D;
  --SideBar-header-border : #0000000F;
  --Error-color : #FF4D4F;
  --page-bg : #F5F5F5;
  --surface : #FEFEFE;
  --popover-hover-bg : #FAFAFA;
  --questionnaire-edit-item-bg : #F5F5F5;

  
    /* Login Page */
  --login-input-text-color : #656565;
  --login-input-border-color : #7ACCFF;
  --login-input-bg-color : #FEFEFE;
  --login-input-placeholder-color : #A3A3A3;
  --login-input-default-border : #D9D9D9;
  --form-body-header-color : #8F8F8F;
  --login-confirm-btn-border : #7C86FA;
  --login-err-message-color : #FF4D4F;
}
html::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  width: 10px;
}

.ant-drawer-header , .ant-drawer-body
{
  padding: 0 !important;
}
.rmdp-range
{
  background-color: var(--primary-color) !important;
}
.type_selector .ant-select-dropdown
{
  width: 400px !important;
  height: 175px;
}
.ant-popover-inner
{
  padding: 0 !important;
}
.ant-message-custom-content.ant-message-success
{
  display: flex;
}
.type_selector .rc-virtual-list-holder-inner
{
  display: grid !important;
  grid-template-columns: auto auto !important;
  padding: 10px;
}
.question_design_item .rc-virtual-list-holder > div
{
  height: 160px !important;
}
.ant-message-custom-content.ant-message-error
{
  display: flex;
}
.ant-btn
{
  font-family: IRANSans;
}
.ant-select-dropdown.css-dev-only-do-not-override-byeoj0 , .ant-select-dropdown.css-17a39f8
{
  width: 330px !important;
  border-radius: 2px !important;
}
.ant-tabs-tab {
  font-size: 16px !important;
  color: var(--Neutral-Gray9);
}
.ant-tabs-tab
{
    margin : 0 !important;
}
.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background: #A4ABFF!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-text-fill-color: var(--login-input-text-color) !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
.ant-tabs-nav-list
{
    gap : 32px !important;
    margin : 0 !important;
}
.ant-tabs-nav-wrap
{
  border-bottom: 1px solid #F5F5F5 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #A4ABFF!important;
}
.header_tab_item i
{
  width: 10px;
  height: 10px;
}
.header_tab_item
{
  display: flex;
  gap: 12px;
  align-items: center;
}
.ant-tabs-tab.ant-tabs-tab-active  .header_tab_item i
{
  filter: invert(84%) sepia(42%) saturate(5091%) hue-rotate(197deg) brightness(102%) contrast(102%);
}
#select-type-container .rc-virtual-list-holder-inner
{
  display: grid !important;
  grid-template-columns: auto auto;
  transform: none !important;
  border-radius: 2px;
  gap: 16px !important;
  padding: 10px !important;
}
.ant-picker-time-panel-cell .time_cell
    {
        text-align : center;
    }
  .time_picker .ant-picker-time-panel-cell.ant-picker-time-panel-cell-selected div
  {
      background : #e6f4ff;
      line-height: 28px;
  }
.ant-picker-time-panel-column::-webkit-scrollbar
{
  width: 0;
}
/* #select-type-container .rc-virtual-list-holder > div 
{
  height: 163px !important;
} */
.ant-modal-content
{
  border-radius: 2px !important;
}
.ant-popover-inner , .ant-tooltip-inner , .ant-select-item.ant-select-item-option  ,
 .ant-select-item.ant-select-item-option.ant-select-item-option-selected
{
  border-radius: 2px !important;
}
.tooltip_container
{
  align-items: center;
  display: flex;
  gap: 12px;
  cursor: pointer;
}
@media screen and (max-width : 500px)
{
    .ant-picker-datetime-panel , .ant-picker-panels{ 
        flex-direction: column !important;
    } 
    .ant-picker-range-wrapper.ant-picker-date-range-wrapper
    {
        max-width : none !important;
    }
    .ant-picker-time-panel .ant-picker-time-panel-column 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .ant-drawer-content-wrapper
    {
      width : 310px !important;
    }
    /* .ant-select-dropdown.css-dev-only-do-not-override-byeoj0
    {
      width: 290px !important;
    } */
}
@media screen and (max-width : 480px) {
    .ant-tabs-nav-list
    {
      gap: 15px !important;
    }
    .ant-tabs-tab
    {
      font-size: 14px !important;
    }
}
/* @media screen and (max-width : 420px)
{
  .ant-select-dropdown.css-dev-only-do-not-override-byeoj0
  {
    right : 10px !important;
  }
} */
