@font-face {
  font-family: IRANSans;
  src: url('../public/Fonts/IRANSans\ Regular.woff');
}
@font-face {
  font-family: Gilory;
  src: url('../public/Fonts/Gilroy-Light.woff');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color : transparent;
  font-family: IRANSans;
}
html
{
  scroll-behavior: smooth;
}
body 
{
  background: var(--page-bg);
}
body::-webkit-scrollbar
{
  width: 0;
}
:root
{ 
  --primary-color : #5360ED;

  /* Folders Page */
  --Neutral-Gray9 : #525252;
  --Neutral-Gray6 : #8F8F8F;
  --Neutral-Gray10 : #3D3D3D;
  --SideBar-header-border : #0000000F;
  --Error-color : #FF4D4F;
  --page-bg : #F5F5F5;
  --surface : #FEFEFE;
  --popover-hover-bg : #FAFAFA;
  --questionnaire-edit-item-bg : #F5F5F5;

  
    /* Login Page */
  --login-input-text-color : #656565;
  --login-input-border-color : #7ACCFF;
  --login-input-bg-color : #FEFEFE;
  --login-input-placeholder-color : #A3A3A3;
  --login-input-default-border : #D9D9D9;
  --form-body-header-color : #8F8F8F;
  --login-confirm-btn-border : #7C86FA;
  --login-err-message-color : #FF4D4F;
}
html::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  width: 10px;
}
.ant-drawer-header , .ant-drawer-body
{
  padding: 0 !important;
}
.type_selector .ant-select-dropdown
{
  width: 400px !important;
  height: 175px;
}
.type_selector .rc-virtual-list-holder-inner
{
  display: grid !important;
  grid-template-columns: auto auto !important;
}
.question_design_item .rc-virtual-list-holder > div
{
  height: 160px !important;
}
.ant-message-custom-content.ant-message-error
{
  display: flex;
}
.ant-btn
{
  font-family: IRANSans;
}
@media screen and (max-width : 500px)
{
    .ant-picker-datetime-panel { 
        flex-direction: column !important;
    } 
    .ant-picker-range-wrapper.ant-picker-date-range-wrapper
    {
        max-width : none !important;
    }
    .ant-picker-time-panel .ant-picker-time-panel-column 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .ant-drawer-content-wrapper
    {
      width : 310px !important;
    }
}